#primary-section {
  background: #8e2c8b url(../images/desktop/image-hero.jpg) no-repeat center / cover;
  position: relative;
}

#primary-section .mask {
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 110px;
  color: var(--white);
}

#primary-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 60px;
  padding: 50px 50px 20px;
}

#primary-section .logo {
  width: 150px;
}

#primary-section nav {
  transition: transform .3s ease;
  transform-origin: right;
}

#primary-section nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#primary-section nav a::after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 0;
  height: 3px;
  background-color: var(--white);
  transition: width .3s linear;
}

#primary-section nav a:hover {
  color: #ccc;
}

#primary-section nav a:hover::after {
  width: 100%;
}

#primary-section .mobile-toggle {
  width: 30px;
  display: none;
  cursor: pointer;
}

#primary-section .slogan {
  max-width: max-content;
  padding: 0 50px;
}

#primary-section .slogan h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  max-width: 14ch;
  border: 2px solid var(--white);
  padding: 20px;
}


@media only screen and (max-width: 610px) {

  .js #primary-section .mobile-toggle {
    display: block;
  }

  .js #primary-section nav {
    height: 0;
    transform: scale(0);
  }

  .js #primary-section nav ul {
    flex-direction: column;
  }

  .js #primary-section nav ul a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .js #primary-section header {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
    padding: 50px 50px 20px;
  }

  .js #primary-section.nav-active header {
    position: absolute;
    width: 100%;
    background-color: black;
  }

  .js #primary-section.nav-active nav {
    height: 100%;
    transform: scale(1);
    margin: 60px 0;
  }

}

@media only screen and (max-width: 500px) {
  #primary-section .slogan h1 {
    font-size: 2rem;
  }
}


@media only screen and (max-width: 400px) {

  #primary-section {
    background: #8e2c8b url(../images/mobile/image-hero.jpg) no-repeat center / cover;
  }

  #primary-section .slogan,
  #primary-section header {
    padding: 20px !important;
  }

}